body,html {
  height:100%;
}
#wrap {
  min-height:100%;
  height:auto;
  margin:0 auto -39px;
  padding:0 0 39px;
}
#footer {
    background-color: rgb(51, 51, 51) !important;
    height: 39px !important;
}
.container .credit {
  margin: 8px auto;
  text-align: center;
}
#loginform>.form-group {
  margin-right:5px;
}
.navbar-header-custom {
    background-color: rgb(51, 51, 51) !important;
    height: 55px;
}
@media (min-width: 576px) {
    .container-custom {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-custom {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-custom {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-custom {
        max-width: 1140px;
    }
}

.container-custom {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 8px !important;
    padding-bottom: 8px;
}

.navbar-brand {
    height: 38.2188px !important;
    font-size: 18px;
    padding-bottom: 5.12px !important;
    padding-top: 5.12px !important;
    padding-left: 0 !important;
    padding-right: 16px !important;
    line-height: 28.8px !important;
}

.navbar-form {
    margin-right: 0 !important;
    padding-right: 0 !important;
    font-size: 14.4px !important;
    padding-top: 2px !important;
}

.dropdown-menu {
    max-width: 150px !important;
}
